# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Sass caches
.sass-cache

# Node modules
node_modules
package-lock.json

# Static folder
static/
src/fonts/

inc/local-vars.php
