/*-------------------------------------*\

  SCOUTING OOST 1 WORDPRESS THEME

  See style.css for the WP info.

  - Floris Jansen, floris@fmjansen.nl

  base.scss
  + Variables (colors and fonts)
  + Reset
  + Paragraph styles
  + Buttons
  + Header
  + Main
  + Footer
  ...

\*-------------------------------------*/





/*-------------------------------------*\
  Variables (colors and fonts)
\*-------------------------------------*/

/* alegreya-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
       url('../fonts/alegreya-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v13-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* alegreya-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'),
       url('../fonts/alegreya-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v13-latin-italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* alegreya-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold'), local('AlegreyaSans-ExtraBold'),
       url('../fonts/alegreya-sans-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v13-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v13-latin-800.ttf') format('truetype'); /* Safari, Android, iOS */
}

$font: 'Alegreya Sans', sans-serif;
$background--light: #ffffff;
$accent: #82c14a;

$social:
  (instagram, #e1306c),
  (facebook, #3b5998),
  (twitter, #1da1f2);

$colors:
  (pink, #e469a8),
  (purple, #7e69af),
  (blue, #344da1),
  (green, #82c14a),
  (yellow, #fdb940),
  (orange, #f9a14f),
  (red, #f05554),
  (cyan, #38bfbf);

// Breakpoints
$brk--phone: 888px;
$brk--tablet: 992px;
$brk--desktop: 1200px;
$brk--large-desktop: 1920px;

$header-h--phone: 101px;
$header-h--tablet: 6.3em;
$header-h--desktop: 6.0em;
$header-h--large-desktop: 5.6em;






/*-------------------------------------*\
  Reset
\*-------------------------------------*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  --page-bg: #{$accent};
  background: $background--light;
  font-family: $font;
  margin: 0;
  min-height: 100vh;

  @media (min-width: $brk--tablet) {
    font-size: 1.1em;
  }

  @media (min-width: $brk--desktop) {
    font-size: 1.2em;
  }
}

*:focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}





/*-------------------------------------*\
  Paragraph styles
\*-------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
  text-shadow: .075em .075em var(--page-bg, $accent);

  @media (min-width: $brk--tablet) {
    max-width: 36rem;
  }

  @media (min-width: $brk--tablet) {
    max-width: 40rem;
  }
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: none;
  text-align: center;
  text-shadow: .065em .065em var(--page-bg, $accent);

  @media (min-width: $brk--phone) {
    font-size: 4em;
  }

  @media (min-width: $brk--tablet) {
    font-size: 5em;
  }
}

p,
.wp-block-file {
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  max-width: 32em;
}

blockquote {
  margin-left: 2em;
  max-width: 30em;
}

ul,
ol {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 32em;
}

li {
  margin: .25em 0;
}

.blocks-gallery-grid {
  max-width: none;
}

.wp-block-jetpack-slideshow {
  max-width: 80vw;
}

a {
  color: #344da1;
}





/*-------------------------------------*\
  Buttons
\*-------------------------------------*/
.button,
.has-button a {
  background: var(--page-bg, $accent);
  border: none;
  border-radius: .3em;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: $font;
  font-size: 1em;
  font-weight: bold;
  margin: .4em .3em;
  padding: .7em 1.2em;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0 .1em .2em transparentize(black, .6);
    transform: translateY(-.1em);
  }

  &:active {
    box-shadow: 0 .05em .1em transparentize(black, .6);
    transform: translateY(-.05em);
  }

  &--light {
    background: white;
    border: .1em solid var(--page-bg, $accent);
    color: var(--page-bg, $accent);
    padding: .6em 1.1em;
  }
}





/*-------------------------------------*\
  Referral blocks
\*-------------------------------------*/
.referral {
  border: 2px dotted var(--page-bg, $accent);
  border-radius: .3em;
  color: black;
  display: block;
  padding: .8em;
  position: relative;

  &:hover,
  &:focus {
    ::before {
      background: var(--page-bg, $accent);
      border-radius: .3em;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      opacity: .15;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &--heavy {
    background: var(--page-bg, $accent);
    border-style: solid;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--arrowed::after {
    content: "→";
    float: right;
  }

  &__icon {
    margin-right: .3em;
  }
}





/*-------------------------------------*\
  Header
\*-------------------------------------*/
.skip {
  background: white;
  border: 1px solid black;
  color: black;
  display: block;
  line-height: 1;
  padding: 1em;
  position: absolute;
  top: -5em;

  &:focus {
    left: 5px;
    top: 5px;
    z-index: 100000;
  }
}

$header-border: 1px solid transparentize(black, 0.8);

.site-header {
  align-items: center;
  border-bottom: $header-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
  transition: background ease-out 200ms;
  z-index: 2;

  &--sticky {
    background: transparentize(white, .1);
  }

  &:hover,
  &:focus-within {
    background: white;
  }

  @media (min-width: $brk--desktop) {
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: visible;
  }
}

.logo {
  display: block;
  margin: 1em;
  width: 195px;

  @media (min-width: $brk--desktop) {
    width: 195px;
  }
}

.menu-toggle {
  background: none;
  border: none;
  color: inherit;
  display: inline-block;
  font: inherit;
  font-weight: bold;
  padding: 1.5em;
  text-decoration: none;

  @media (min-width: $brk--desktop) {
    display: none;
  }
}

.site-menu {
  border: 1px solid black;
  border-width: 1px 0;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.2em;
  width: 100%;

  @media (max-width: ($brk--desktop - 1)) {
    display: none;

    &.opened {
      display: block;
    }
  }

  @media (min-width: $brk--desktop) {
    border: none;
    flex-shrink: 1;
    font-size: 1em;
    margin-left: 1.5em;
    width: auto;
  }

  &__list {
    list-style: none;
    margin-bottom: 0;
    max-width: none;
    padding: 0;

    @media (min-width: $brk--desktop) {
      align-items: stretch;
      display: flex;
      flex-flow: row;
      height: 100%;
      margin-top: 0;
    }
  }
}

.sub-menu {
  list-style: none;
  max-height: 0;
  max-width: none;
  padding: 0;
  transition: max-height 250ms ease-out,
    width 100ms ease-out;

  @media (max-width: ($brk--desktop - 1)) {
    overflow: hidden;

    &.opened {
      max-height: 30em;
    }
  }

  @media (min-width: $brk--desktop) {
    font-weight: bold;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: $header-h--desktop;
    transition: none;

    &:after {
      background: transparentize(white, .1);
      content: "";
      display: block;
      height: 100vh;
      left: -100vw;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 200vw;
      z-index: -1;
    }
  }

  @media (min-width: $brk--desktop) {
    top: $header-h--large-desktop;
  }
}

.menu-item {
  font-weight: normal;

  @media (min-width: $brk--desktop) {
    align-items: center;
    display: flex;
  }

  .sub-menu {
    max-height: 30em;

    @media (min-width: $brk--desktop) {
      border-bottom: $header-border;
      height: 100vh;
      max-height: none;
      overflow: visible;
    }

    a {
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  a,
  button {
    color: inherit;
    cursor: pointer;
    display: block;
    padding: .5em 1em;

    @media (min-width: $brk--desktop) {
      display: inline-block;
      font-weight: bold;
      padding: .75em .8em;
    }
  }

  button {
    text-decoration: none;
  }

  svg {
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-bottom: -.2em;
  }

  [aria-expanded="true"] svg {
    transform: scaleY(-1);
  }

  &-has-children {
    font-weight: bold;
    margin-bottom: .5em;
    position: relative;
    
    button {
      background: inherit;
      border: none;
      display: block;
      font: inherit;
    }  

    @media (min-width: $brk--desktop) {
      align-items: stretch;
      margin-bottom: 0;
      position: static;

      &:hover,
      &:focus-within {
        box-shadow: inset 0 -.2em 0 transparentize(black, 0.8);
      }
    }

    & > a {
      display: block;
    }
  }
}

svg[hidden] {
	display: none;
	position: absolute;
}





/*-------------------------------------*\
  Main
\*-------------------------------------*/
.include-header {
  margin-top: -$header-h--phone;
  padding-top: $header-h--phone;

  @media (min-width: $brk--phone) {
    margin-top: -$header-h--tablet;
  }

  @media (min-width: $brk--tablet) {
    margin-top: -$header-h--desktop;
  }

  @media (min-width: $brk--desktop) {
    margin-top: -$header-h--large-desktop;
  }
}

@each $palette_name, $color in $colors {
  .#{"" + $palette_name} {
    --page-bg: #{$color};
  }
}

.page-thumb {
  @extend .include-header;
  --page-bg: white;
  background: var(--page-bg, white);
  text-align: center;

  @media (min-width: $brk--phone) {
    background-image: url(../img/pattern-full-color.png);
    background-image: url(../img/pattern-full-color.svg);
    background-repeat: repeat;
    background-size: 266px;
  }

  @each $palette_name, $color in $colors {
    &--#{"" + $palette_name} {
      @extend .pattern;
      --page-bg: #{$color};
    }
  }

  &__img {
    height: auto;
    margin-bottom: -4em;
    max-height: 70vh;
    max-width: 100%;
    width: auto;

    @media (min-width: $brk--phone) {
      margin: 2em 0 -5.25em;
      max-height: 65vh;
    }

    @media (min-width: $brk--tablet) {
      margin: 3em 0 -6.5em;
    }
  }

  &__spacer {
    @extend .page-thumb__img;
    height: 5em;

    @media (min-width: $brk--phone) {
      border-bottom: $header-border;
    }
  }
}

.page {
  padding: 0 10vw;

  &--extra-menu {
    display: flex;
    flex-wrap: wrap;
  }

  &__menu {
    border-top: 1px solid var(--page-bg, $accent);
    margin: 1em 0;
    padding-top: 1em;
    width: 100%;

    @media (min-width: $brk--tablet) {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      border-top: none;
      margin-right: 2.5vw;
      order: 1;
      padding-bottom: 1em;
      padding-right: 2.5vw;
      padding-top: 0;
      text-align: right;
      width: 11em;
    }

    &-list {
      margin: 0;
      padding-left: 1em;

      @media (min-width: $brk--tablet) {
        list-style: none;
      }
    }
  }
}

.activity {
  &--page {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8vw;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  &--small {
    background: white;
    margin: 10vw 5vw;
    padding: 5vw;

    &__title {
      font-size: 2em;
      margin: 1rem 0;

      @media (min-width: $brk--phone) {
        font-size: 2.5em;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }

    &__date {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0;
    }


    @media (min-width: $brk--phone) {
      display: flex;
      flex-flow: row;
    }

    &:nth-of-type(2n) .activity__thumb {
      box-shadow: 1em -1em 0 $accent;
      order: 3;

      @media (min-width: $brk--phone) {
        margin-left: 2em;
      }
    }
  }

  &__thumb {
    box-shadow: -1em -1em 0 $accent;
    height: auto;
    max-width: 100%;

    @media (min-width: $brk--phone) {
      flex-grow: 1;
      margin-right: 4vw;
      max-width: none;
    }
  }

  &__text {
    order: 2;
  }

  &__title {
    flex-shrink: 0;
    width: 100%;
    width: calc(100% - 2rem);
  }

  &__button {
    margin: 0;
  }

  @media (min-width: $brk--tablet) {
    &__content {
      flex-grow: 1;
      flex-shrink: 1;
      order: 2;
    }
    &__date-time-place {
      border-right: $header-border;
      margin-right: 2.5vw;
      order: 1;
      padding-right: 2.5vw;
      text-align: right;
      width: 11em;
    }
  }
}

.archive-title {
  @extend .include-header;
  background: url(../img/pattern-full-color.png);
  background: url(../img/pattern-full-color.svg);
  background-size: 266px;

  &__head {
    margin: .5em 1rem 0;
    transform: translateY(.5em);
  }
}

.archive {
  padding: 0 10vw 2em;

  &__title {
    color: black;
    text-decoration: none;
  }
}

.activities--page {
  border-top: $header-border;

  &__referral {
    margin: 3em 10vw 0;

    @media (min-width: $brk--phone) {
      margin-bottom: -6vw;
      margin-top: 5em;
    }
  }
}

.meta-head {
  font-size: 1em;
  margin-bottom: 0;
  text-shadow: none;
}

.meta-content {
  margin-top: 0;
}

.lopendvuurtje-archive {
  border-top: $header-border;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vw;

  &__description {
    flex-shrink: 0;
    margin: 7.5vw 5vw 2.5vw;
    width: 80vw;

    @media (min-width: $brk--phone) {
      column-count: 2;
      column-gap: 2em;

      p { margin: 0; }
    }
  }
}

.lopendvuurtje {
  background: white;
  box-sizing: border-box;
  margin: 5vw 2vw;
  text-align: center;
  transition: transform 100ms ease-out;
  width: 300px;

  a {
    text-decoration: none;
  }

  &__edition {
    color: black;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: -.75em;
    max-width: none;
    position: relative;
    text-align: center;
    transition: transform 100ms ease-out;
  }

  &__cover {
    height: auto;
    max-width: 100%;
    transition: all 100ms ease-out;
  }

  &:hover,
  &:focus-within {
    .lopendvuurtje__cover {
      box-shadow: .5em .5em 0 var(--page-bg, $accent);
      transform: translate(-.5em, -.5em);
    }

    .lopendvuurtje__edition {
      transform: translate(0, .7em);
    }
  }
}

.post-date {
  font-style: italic;
  text-align: center;
}

.index {
  padding: 1em 10vw;

  &__thumb {
    height: auto;
    max-width: 80vw;

    @media (min-width: $brk--phone) {
      display: block;
      margin: 2em auto 0;
    }
  }
}

hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 2em auto;
  max-width: 80vw;
}

.pagination {
  text-align: center;

  &__prev,
  &__next {
    display: inline-block;
    padding: 1em;

    a {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  &__prev {
    text-align: right;
  }

  &__next {
    text-align: left;
  }
}

.page-numbers {
  display: inline-block;
  padding: .3em;
}





/*-------------------------------------*\
  Front page
\*-------------------------------------*/
.intro {
  padding-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: left;

  @media (min-width: $brk--tablet) {
    background-image: var(--alt-img) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding-bottom: 5vw;
  }

  &__title {
    margin: 5vw 0 0;
  }

  &__content {
    background: white;
    margin: -1em auto 0;
    max-width: 32em;
    padding: 1.75em 1.5em 1em;
  }

  &__links {
    list-style-type: none;
    margin: 1em 0 0;
    padding: 0;
  }

  &__button {
    display: block;
    margin: 1em auto -2.5em;
    position: relative;
    z-index: 1;
  }

  &__img {
    height: auto;
    max-width: 100%;

    @media (min-width: $brk--tablet) {
      display: none;
    }
  }
}



.past {
  align-items: baseline;
  display: flex;
  flex-flow: column;
  padding: 1vw 5vw 5vw;

  &__part {
    width: 100%;
  }

  @media (min-width: $brk--phone) {
    flex-flow: row wrap;
    justify-content: space-around;

    &__part {
      margin: 1em;
      width: auto;
    }
  }

  &__title {
    flex-shrink: 0;
    margin: .5em 0 0;
    width: 100%;
  }

  .wp-post-image {
    height: auto;
    max-width: 100%;
  }

  &__item {
    background: white;
    border: 2px solid $accent;
    box-shadow: 1em 1em 0 transparentize($accent, .5);
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 1em;
    overflow: hidden;

    @media (min-width: $brk--desktop) {
      width: 320px;
    }

    @media (min-width: $brk--large-desktop) {
      width: auto;
    }

    &:hover,
    &:focus-within {
      box-shadow: 1em 1em 0 transparentize($accent, .8);
    }
  }

  &__post-title {
    color: black;
    margin: .75rem 1rem 1rem;
    text-shadow: none;

    a { color: black; }
  }

  &__all-button {
    box-sizing: border-box;
    display: block;
    margin: 1em auto 0;
    max-width: 32em;
  }
}

.lvs--front {
  text-align: center;
}

.front-members {
  --page-bg: #{nth(nth($colors, 5),2)};
  @extend .pattern;
  overflow: hidden;

  &__cont {
    background: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: -3.5rem 5vw 5vw;
    padding: 8vw 5vw 5vw;

    @media (min-width: $brk--phone) {
      flex-flow: row;
      margin-top: -5em;
    }

    @media (min-width: $brk--tablet) {
      margin-top: -6em;
    }
  }

  &__speltakken {
    background: white;
    padding: .5em 0;

    td,
    th {
      padding: .25em .75em;
    }

    .both {
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column;

    .button { color: black; }

    @media (min-width: $brk--phone) {
      margin-left: 2em;
    }
  }
}

.front-end {
  --page-bg: #{nth(nth($colors, 2),2)};
  padding: 5vw 5vw;
  @extend .pattern;

  @media (min-width: $brk--phone) {
    margin-bottom: -5vw;
  }

  &__cont {
    align-items: stretch;
    background: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5vw;

    @media (min-width: $brk--phone) {
      flex-flow: row;
    }
  }

  h2 {
    font-size: 2em;
    margin-top: 0;
  }

  &__text {
    flex-grow: 2;

    @media (min-width: $brk--phone) {
      margin-right: 2em;
      width: 15em;
    }
  }
}

.continue {
  display: block;
  flex-grow: 1;
  text-align: center;

  @media (min-width: $brk--phone) {
    width: 10em;
  }

  .button { display: block; }
}

.wp-block-table {
  margin: 0;

  table {
    border-spacing: 0;
  }

  tr:nth-child(even) {
    background: #eee;
  }

  td {
    min-width: 8em;
    padding: .4em;
  }
}





/*-------------------------------------*\
  Administration
\*-------------------------------------*/
fieldset {
  border-color: var(--page-bg, #{nth(nth($colors, 5),2)});
  border-radius: .5em;
  border-style: solid;
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
  max-width: 44rem;

  .button {
    color: black;
    margin: .5rem 1rem;
  }
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px .5em;
}

.form-element {
  --input-color: #595959;
  border: 2px solid var(--input-color);
  border-radius: .5em;
  display: block;
  margin: .5em 1em;
  padding: .5em;
}

.grunion-field-radio-wrap {
  @extend .form-element;
  margin: 1rem;
}

@media only screen and (min-width:600px) {
  .contact-form input[type=email],
  .contact-form input[type=tel],
  .contact-form input[type=text],
  .contact-form input[type=url],
  .contact-form textarea {
    box-sizing: content-box !important;
    margin-bottom: -.5em !important;
    width:100% !important;
  }
}

.pushbutton-wide {
  @extend .button;
  margin: 1rem;
}

.text-label,
.grunion-field-name-wrap,
.grunion-field-email-wrap,
.grunion-field-text-wrap,
.grunion-field-date-wrap,
.grunion-field-textarea-wrap,
.grunion-field-telephone-wrap {
  @extend .form-element;
  color: var(--input-color);
  flex-grow: 1;
  font-size: 1rem;
  font-weight: bold;

  @media (min-width: $brk--phone) {
    width: 32em;
  }

  &--no-margin {
    margin: 0;
    width: auto;
  }

  input,
  select,
  textarea {
    background: none;
    border: none;
    display: block;
    font-size: 1.2em;
    margin: -.5em;
    margin-top: -1.6em;
    padding: .5em;
    padding-top: 1.75em;
    width: 100%;
  }

  select {
    margin: 0;
    padding: 0;
  }

  &:focus-within {
    --input-color: #{nth(nth($colors, 3),2)};
  }
}

input,
select,
textarea {
  font-family: $font;
  font-size: 1em;
}

input[type=number] {
  margin-right: .5em;
  width: 2em;
}

.options {
  --input-color: #595959;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  margin: .5rem 1rem;

  &--inlined {
    @media (min-width: $brk--phone) {
      align-items: stretch;
      flex-flow: row wrap;
      width: auto;
    }
  }

  &__label {
    align-self: top;
    color: var(--input-color);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .25em;
    margin-top: 0;
    max-width: unset;
    width: 100%;
  }

  &__opt {
    @extend .form-element;
    --input-color: inherit;
    border: 2px solid var(--input-color);
    border-bottom-width: 0;
    border-radius: 0;
    font-size: 1.2rem;
    margin: 0;
    padding: .9em .9em .9em .5em;

    &:first-of-type {
      border-radius: .5em .5em 0 0;
    }

    &:last-of-type {
      border-bottom-width: 2px;
      border-radius: 0 0 .5em .5em;
    }

    &--inline {
      @media (min-width: $brk--phone) {
        border-bottom-width: 2px;
        border-right-width: 0;

        &:first-of-type {
          border-radius: .5em 0 0 .5em;
        }

        &:last-of-type {
          border-radius: 0 .5em .5em 0;
          border-right-width: 2px;
        }
      }
    }
  }
}

.field-info {
  @extend .form-element;
  background-color: #f0f0f0;
  border-color: transparent;
  font-size: 1rem;
  margin: 0 1em;
  max-width: 23em;
}

.term-check {
  @extend .form-element;
  flex-grow: 1;
  padding: .9em .5em;
}

.terms {
  margin: 0 1em;
}

.valid {
  --input-color: #{$accent};
}

.invalid {
  --input-color: #{nth(nth($colors, 7),2)};
}

.readonly {
  --input-color: #757575;
  background: #f0f0f0;
}

.checked {
  font-weight: bold;
}

.no-display {
  display: none;
}

.form-prob {
  border: 2px dotted #{nth(nth($colors, 7),2)};
  border-radius: .5em;
  margin: 1em;
  max-width: none;
  padding: .9em;

  &--floating {
    background: #{nth(nth($colors, 7),2)};
    border-color: white;
    bottom: 0;
    color: white;
    max-width: 44rem;
    position: fixed;
  }
}

.form-success {
  @extend .form-prob;
  border-color: $accent;
  margin: 0 auto 3em;
  max-width: 44rem;
}

.comments {
  @extend .form-prob;
  border-color: #aaa;
  margin: auto;
  max-width: 44rem;
}

.form-overview {
  width: 100%;

  &__table {
    border-spacing: 0;
    margin: 1rem auto;

    td {
      padding: .5em 1.5em .5em .5em;

      &:last-child {
        font-weight: bold;
      }
    }

    tr:nth-of-type(2n) {
      background: #eee;
    }
  }
}

.loading {
  opacity: .5;
  pointer-events: none;
}





/*-------------------------------------*\
  Photo album
\*-------------------------------------*/
.photoalbums {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__title {
    text-align: center;
    text-transform: capitalize;
  }
}

.photoalbum {
  padding: 1em 5vw;

  &--link {
    @extend .past__item;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 2.5em;
    margin-right: 2.5em;
    max-width: 300px;
    width: 200px;
  }

  &__name {
    @extend .past__post-title;
  }

  &__button-cont { text-align: center; }
}

.collection {
  margin: 1em;
}

.photoset {
  @extend .referral;
  @extend .referral--arrowed;
  margin: 1em;
}

.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 1em;
  justify-content: center;
  list-style: none;
  margin: 0 0 1em;
  max-width: none;
  padding: 0;

  .button {
    box-sizing: border-box;
    margin: .5em;
    width: 150px;
  }
}

.photo-cont {
  margin: 0;
}

.photo {
  display: flex;
  width: 150px;
}

.back-to-albums {
  @extend .button;
  display: block;
  max-width: 32em;
  font-weight: bold;
  margin: 1em auto;
}





/*-------------------------------------*\
  Events
\*-------------------------------------*/
.event {
  border-top: 1px solid #ddd;
  margin: 1.5em auto 0;
  max-width: 50em;
  padding: 2em 0 0;

  img {
    height: auto;
    grid-area: location-end;
    max-width: 100%;
  }

  &:last-of-type {
    padding-bottom: 2em;
  }

  p {
    max-width: unset;
  }

  &__moment {
    margin-bottom: .5em;
    grid-area: side;
  }

  &__summary {
    margin: 0;
    grid-area: summary;
  }

  &__location {
    margin-top: .5em;
    grid-area: location;
    justify-self: start;
    margin: .5em 0;
    width: 100%;
  }

  &__description {
    grid-area: description;
    justify-self: start;
    margin: .5em 0;
    width: 100%;
  }

  @media (min-width: $brk--tablet) {
    column-gap: 1.5em;;
    display: grid;
    grid-template-columns: 12em 1fr;
    grid-template-areas: "side summary"
      "location description";

    img {
      margin-top: 1em;
    }

    &__moment {
      margin: 0;
      text-align: right;
    }

    &__location {
      text-align: right;
    }

    &__link {
      text-align: right;
    }
  }
}

.calendar-links {
  display: grid;
  row-gap: 1em;

  @media (min-width: $brk--tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 0;
  }
}





/*-------------------------------------*\
  Footer
\*-------------------------------------*/
.site-footer {
  background: #eee;
  border-top: .3em solid var(--page-bg, #{$accent});
  box-shadow: 0 50vh 0 50vh #eee;
  display: flex;
  flex-flow: column;

  @media (min-width: $brk--phone) {
    flex-flow: row wrap;
    margin-top: 5vw;
  }

  .logo {
    margin: 1em 0;
  }

  a {
    color: black;
  }

  &__head {
    font-size: 1.4rem;
    text-shadow: none;
  }

  &__links {
    padding-left: 1.5em;
  }

  &__col {
    border: $header-border;
    border-width: 1px 0 0;
    padding: 10vw;

    &:first-of-type {
      border-top-width: 0;
    }

    @media (min-width: $brk--phone) {
      border-right-width: 1px;
      border-top-width: 0;
      flex-grow: 1;
      padding: 5vw;
      width: 12em;

      &:last-of-type {
        border-right-width: 0;
      }
    }
  }

  &__address {
    font-style: normal;
    margin: 1em 0;
  }

  p {
    margin: .5em 0;
  }
}





/*-------------------------------------*\
  Patterned background
\*-------------------------------------*/
.pattern {
  background: var(--page-bg);
  background-blend-mode: soft-light;
  background-image: url(../img/pattern-white.png);
  background-image: url(../img/pattern-white.svg);
  background-size: 266px;
}





/*-------------------------------------*\
  Embeds
\*-------------------------------------*/
.wp-block-embed {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.wp-block-embed__wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  iframe {
    height: 100%;
    width: 100%;
  }
}

.wp-block-image img {
  height: auto;
}





/*-------------------------------------*\
  Poster builder
\*-------------------------------------*/
.builder {
  display: flex;
}

.controls {
  width: 20vw;

  &__color {
    @each $palette_name, $color in $colors {
      &--#{"" + $palette_name} {
        background: #{$color};
      }
    }
  }
}

@page {
  margin: 0cm !important;
}

.poster {
  $poster-width: 50vw;
  $print-poster-width: 210cm;

  box-shadow: 0 .5em 1em transparentize(#000, .8);
  font-size: calc($poster-width / 47.619047619);
  height: calc($poster-width / 210 * 297);
  position: relative;
  width: $poster-width;

  &__hero {
    background-color: var(--page-bg);
    background-image: url(../img/pattern-poster.png);
    background-size: 100%;
    height: calc(calc(2 / 3) * $poster-width);
    overflow: hidden;
  }

  @media print {
    font-size: 10cm;
    height: calc($print-poster-width / 210 * 297);
    width: $print-poster-width;

    &__hero {
      height: 14cm;
    }
  }


  &__image {
    height: 101%;
    margin: -.5%;
    object-fit: cover;
    width: 101%;

    &[src=""] {
      display: none;
    }
  }

  &__content {
    margin-top: -3em;
    padding: 0 5em;

    @media print {
      padding: 0 2cm;
    }
  }

  &__title {
    font-size: 5em;
    margin: 0 0 .6em;
    text-align: left;

    @media print {
      font-size: 2.2cm;
    }
  }

  &__list {
    float: left;
    height: 20em;
    list-style: none;
    margin: 0 1.75em 0 0;
    padding: 0;
    text-align: right;
  }

  &__detail {
    display: inline-block;
    min-width: 1em;
  }

  &__icon {
    color: var(--page-bg);
    height: 1em;
    margin-left: .5em;
    vertical-align: top;
    width: 1em;
  }

  &__footer {
    align-items: center;
    background-color: #ddd;
    background-image: url(../img/pattern-poster.png);
    background-size: 100%;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    font-size: .75em;
    justify-content: center;
    padding: 3em;
    position: absolute;
    width: 100%;
  }

  &__contact {
    color: #444;
    font-style: normal;
    text-align: right;
  }

  &__logo {
    height: 4.9em;
    margin-left: 1.75em;
  }
}
