/*-------------------------------------*\

  SCOUTING OOST 1 WORDPRESS THEME

  See style.css for the WP info.

  - Floris Jansen, floris@fmjansen.nl

  base.scss
  + Variables (colors and fonts)
  + Reset
  + Paragraph styles
  + Buttons
  + Header
  + Main
  + Footer
  ...

\*-------------------------------------*/





/*-------------------------------------*\
  Variables (colors and fonts)
\*-------------------------------------*/
$font--heavy: 'Alegreya Sans', sans-serif;
$font--light: 'Alegreya Sans', sans-serif;
$background--light: #ffffff;
$accent: #82c14a;

$social:
  (instagram, #e1306c),
  (facebook, #3b5998),
  (twitter, #1da1f2);

$colors:
  (pink, #e469a8),
  (purple, #7e69af),
  (blue, #344da1),
  (green, #82c14a),
  (yellow, #fdb940),
  (orange, #f9a14f),
  (red, #f05554),
  (cyan, #38bfbf);

// Breakpoints
$brk--phone: 768px;
$brk--tablet: 992px;
$brk--desktop: 1200px;
$brk--large-desktop: 1920px;

$header-h--phone: 101px;
$header-h--tablet: 89px;
$header-h--desktop: 93px;
$header-h--large-desktop: 109px;






/*-------------------------------------*\
  Reset
\*-------------------------------------*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $background--light;
  font-family: $font--light;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  --page-bg: #{$accent};
  min-height: 100vh;

  @media (min-width: $brk--tablet) {
    font-size: 18px;
  }

  @media (min-width: $brk--desktop) {
    font-size: 20px;
  }
}





/*-------------------------------------*\
  Paragraph styles
\*-------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font--heavy;
  font-weight: 700;
  text-shadow: .075em .075em var(--page-bg, $accent);
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $brk--tablet) {
    max-width: 36rem;
  }

  @media (min-width: $brk--tablet) {
    max-width: 40rem;
  }
}

h1 {
  text-align: center;
  max-width: none;
  font-size: 3em;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1;
  text-shadow: .065em .065em var(--page-bg, $accent);

  @media (min-width: $brk--phone) {
    font-size: 4em;
  }

  @media (min-width: $brk--tablet) {
    font-size: 5em;
  }
}

p {
  max-width: 32em;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  max-width: 30em;
  margin-left: 2em;
}

ul,
ol {
  max-width: 32em;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #344da1;
}





/*-------------------------------------*\
  Buttons
\*-------------------------------------*/
.button {
  display: inline-block;
  padding: .7em 1.2em;
  margin: .4em .3em;
  border-radius: .3em;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  font-size: 1em;
  font-family: $font--heavy;
  font-weight: bold;
  cursor: pointer;
  background: var(--page-bg, $accent);

  &:hover,
  &:focus {
    box-shadow: 0 .1em .2em transparentize(black, .6);
    transform: translateY(-.1em);
  }

  &:active {
    box-shadow: 0 .05em .1em transparentize(black, .6);
    transform: translateY(-.05em);
  }

  &--light {
    background: white;
    color: var(--page-bg, $accent);
    border: .1em solid var(--page-bg, $accent);
    padding: .6em 1.1em;
  }
}





/*-------------------------------------*\
  Referral blocks
\*-------------------------------------*/
.referral {
  padding: .8em;
  border: 2px dotted var(--page-bg, $accent);
  border-radius: .3em;
  color: black;
  display: block;

  &--heavy {
    background: var(--page-bg, $accent);
    border-style: solid;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--arrowed::after {
    content: "→";
    float: right;
  }

  &__icon {
    margin-right: .3em;
  }
}





/*-------------------------------------*\
  Header
\*-------------------------------------*/
.skip {
  position: absolute;
  top: -5em;
  display: block;
  background: white;
  border: 1px solid black;
  padding: 1em;
  line-height: 1;
  color: black;

  &:focus {
    top: 5px;
    left: 5px;
    z-index: 100000;
  }
}

$header-border: 1px solid transparentize(black, 0.8);

.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: $header-border;

  &:hover,
  &:focus-within {
    background: white;
  }

  @media (min-width: $brk--phone) {
    align-items: stretch;
    justify-content: flex-start;
  }
}

.logo {
  width: 195px;
  margin: 1em;
  display: block;

  @media (min-width: $brk--phone) {
    width: 160px;
  }

  @media (min-width: $brk--desktop) {
    width: 195px;
  }
}

.menu-toggle {
  display: inline-block;
  padding: 1.5em;
  font-weight: bold;
  color: inherit;
  text-decoration: none;

  @media (min-width: $brk--phone) {
    display: none;
  }
}

.site-menu {
  width: 100%;
  flex-shrink: 0;
  font-size: 1.2em;
  border: 1px solid black;
  border-width: 1px 0;
  flex-grow: 1;

  @media (max-width: ($brk--phone - 1)) {
    display: none;

    &.opened {
      display: block;
    }
  }

  @media (min-width: $brk--phone) {
    font-size: 1em;
    border: none;
    flex-shrink: 1;
    width: auto;
    margin-left: 1.5em;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    max-width: none;

    @media (min-width: $brk--phone) {
      display: flex;
      flex-flow: row;
      align-items: stretch;
      height: 100%;
      margin-top: 0;
    }
  }
}

.sub-menu {
  list-style: none;
  padding: 0;
  transition: max-height 250ms ease-out,
    width 100ms ease-out;
  max-height: 0;
  max-width: none;

  @media (max-width: ($brk--phone - 1)) {
    overflow: hidden;

    &.opened {
      max-height: 14em;
    }
  }

  @media (min-width: $brk--phone) {
    position: absolute;
    background: white;
    min-width: 100%;
    right: 0;
    max-height: 0;
    overflow: hidden;
    top: $header-h--tablet;
    transition: none;
    left: 0;
    padding-left: 216px;
  }

  @media (min-width: $brk--tablet) {
    top: $header-h--desktop;
    padding-left: 223px;
  }

  @media (min-width: $brk--desktop) {
    top: $header-h--large-desktop;
    padding-left: 265px;
  }
}

.menu-item {
  font-weight: normal;

  &:hover,
  &:focus-within {
    .sub-menu {
      max-height: 14em;

      @media (min-width: $brk--phone) {
        height: 17.6em;
        max-height: none;
        border-bottom: $header-border;
      }
    }
  }

  a {
    display: block;
    padding: .5em 1em;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media (min-width: $brk--phone) {
      padding: .75em 1em;
      display: inline-block;
    }
  }

  &-has-children {
    font-weight: bold;
    position: relative;
    margin-bottom: .5em;

    @media (min-width: $brk--phone) {
      margin-bottom: 0;
      position: static;
      display: flex;
      align-items: center;

      &:hover,
      &:focus-within {
        box-shadow: inset 0 -.2em 0 transparentize(black, 0.8);
      }
    }

    & > a {
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.staff {
    @extend .menu-item-has-children;
    font-weight: 400;
    margin-left: auto;
  }
}





/*-------------------------------------*\
  Main
\*-------------------------------------*/
.include-header {
  margin-top: -$header-h--phone;
  padding-top: $header-h--phone;

  @media (min-width: $brk--phone) {
    margin-top: -$header-h--tablet;
  }

  @media (min-width: $brk--tablet) {
    margin-top: -$header-h--desktop;
  }

  @media (min-width: $brk--desktop) {
    margin-top: -$header-h--large-desktop;
  }
}

@each $palette_name, $color in $colors {
  .#{$palette_name} {
    --page-bg: #{$color};
  }
}

.page-thumb {
  @extend .include-header;
  --page-bg: white;
  background: var(--page-bg, white);
  text-align: center;

  @media (min-width: $brk--phone) {
    background-repeat: repeat;
    background-size: 266px;
    background-image: url(../img/pattern-full-color.png);
    background-image: url(../img/pattern-full-color.svg);
  }

  @each $palette_name, $color in $colors {
    &--#{$palette_name} {
      --page-bg: #{$color};
      background-blend-mode: soft-light;
      background-image: url(../img/pattern-white.png);
      background-image: url(../img/pattern-white.svg);
    }
  }

  &__img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
    margin-bottom: -4em;

    @media (min-width: $brk--phone) {
      max-height: 65vh;
      margin: 2em 0 -5.25em;
    }

    @media (min-width: $brk--tablet) {
      margin: 3em 0 -6.5em;
    }
  }

  &__spacer {
    @extend .page-thumb__img;
    height: 5em;

    @media (min-width: $brk--phone) {
      border-bottom: $header-border;
    }
  }
}

.page {
  padding: 0 10vw;
}

.activity {
  &--page {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8vw;
  }

  &--small {
    margin: 10vw 5vw;
    padding: 5vw;
    background: white;

    &__title {
      font-size: 2em;
      margin: 1rem 0;

      @media (min-width: $brk--phone) {
        font-size: 2.5em;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }

    &__date {
      font-weight: bold;
      margin-bottom: 0;
      font-size: 1.2em;
    }


    @media (min-width: $brk--phone) {
      display: flex;
      flex-flow: row;
    }

    &:nth-of-type(2n) .activity__thumb {
      order: 3;
      box-shadow: 1em -1em 0 $accent;

      @media (min-width: $brk--phone) {
        margin-left: 2em;
      }
    }
  }

  &--front {
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;

    @media (min-width: $brk--tablet) {
      background-image: var(--alt-img);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding-bottom: 10vw;
    }

    &__date {
      text-align: center;
      margin-top: 5vw;
      font-weight: bold;
      margin-bottom: 0;
    }

    &__title {
      margin: 0;
    }

    &__excerpt {
      background: white;
      padding: 1.75em 1.5em 1em;
      margin: -1em auto 0;
    }

    &__button {
      display: block;
      margin: 1em auto -2.5em;
      position: relative;
      z-index: 1;
    }

    &__img {
      max-width: 100%;
      height: auto;

      @media (min-width: $brk--tablet) {
        display: none;
      }
    }
  }

  &__thumb {
    box-shadow: -1em -1em 0 $accent;
    max-width: 100%;
    height: auto;

    @media (min-width: $brk--phone) {
      margin-right: 4vw;
      max-width: none;
      flex-grow: 1;
    }
  }

  &__text {
    order: 2;
  }

  &__title {
    width: 100%;
    width: calc(100% - 2rem);
    flex-shrink: 0;
  }

  &__button {
    margin: 0;
  }

  @media (min-width: $brk--tablet) {
    &__content {
      order: 2;
      flex-shrink: 1;
    }
    &__date-time-place {
      margin-right: 2.5vw;
      padding-right: 2.5vw;
      border-right: $header-border;
      text-align: right;
      order: 1;
      width: 11em;
    }
  }
}

.archive-title {
  @extend .include-header;
  background: url(../img/pattern-full-color.png);
  background: url(../img/pattern-full-color.svg);
  background-size: 266px;

  &__head {
    transform: translateY(.5em);
    margin: .5em 1rem 0;
  }
}

.activities--page {
  border-top: $header-border;

  &__referral {
    margin: 3em 10vw 0;

    @media (min-width: $brk--phone) {
      margin-bottom: -6vw;
      margin-top: 5em;
    }
  }
}

.meta-head {
  text-shadow: none;
  margin-bottom: 0;
  font-size: 1em;
  color: var(--page-bg, $accent);
}

.meta-content {
  margin-top: 0;
}

.lopendvuurtje-archive {
  display: flex;
  flex-wrap: wrap;
  border-top: $header-border;
  padding: 0 5vw;

  &__description {
    width: 80vw;
    margin: 7.5vw 5vw 2.5vw;
    flex-shrink: 0;

    @media (min-width: $brk--phone) {
      column-count: 2;
      column-gap: 2em;

      p { margin: 0; }
    }
  }
}

.lopendvuurtje {
  margin: 5vw 2vw;
  background: white;
  transition: transform 100ms ease-out;
  width: 300px;
  box-sizing: border-box;
  text-align: center;

  a {
    text-decoration: none;
  }

  &__edition {
    font-size: 2em;
    text-align: center;
    margin-top: -.75em;
    color: black;
    margin-bottom: 0;
    max-width: none;
    position: relative;
    transition: transform 100ms ease-out;
  }

  &__cover {
    transition: all 100ms ease-out;
  }

  &:hover,
  &:focus-within {
    .lopendvuurtje__cover {
      box-shadow: .5em .5em 0 var(--page-bg, $accent);
      transform: translate(-.5em, -.5em);
    }

    .lopendvuurtje__edition {
      transform: translate(0, .7em);
    }
  }
}





/*-------------------------------------*\
  Footer
\*-------------------------------------*/
.site-footer {
  padding: 5vw;
  display: flex;
  flex-flow: column;
  font-size: 1rem;
  background: #eee;
  border-top: .3em solid var(--page-bg, #{$accent});
  box-shadow: 0 50vh 0 50vh #eee;

  @media (min-width: $brk--phone) {
    padding: 2.5vw;
    flex-flow: row wrap;
    margin-top: 5vw;
  }

  &__col {
    padding: 5vw;
    border: $header-border;
    border-width: 1px 0 0;

    &:first-of-type {
      border-top-width: 0;
    }

    @media (min-width: $brk--phone) {
      padding: 0 1.5em;
      width: 12em;
      flex-grow: 1;
      border-right-width: 1px;
      border-top-width: 0;

      &:last-of-type {
        border-right-width: 0;
      }
    }
  }

  &__address {
    margin: 1em 0;
    font-style: normal;
  }

  p {
    margin: .5em 0;
  }
}
